apiVersion: v1
kind: Service
metadata:
  name: hello-app-service
spec:
  type: NodePort
  selector:
    app: hello-app
  ports:
    - port: 9091          # Service port
      targetPort: 9091    # Container port
      nodePort: 30091     # Fixed NodePort (optional but explicit)
